@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MATLAB Based Calculator</h1>
    <br />

    <form>
        <label for="fnum">First Number:</label><br>
        <input type="text" id="firstNum" name="firstNum"><br>
        <label for="lnum">Second Number:</label><br>
        <input type="text" id="secondNum" name="secondNum"><br /><br />
        <input type="submit" value="Submit">
    </form>


</div>
